<footer>
    <div class="social">
        <ul class="social-links">
            <li><a href="#"><ion-icon name="logo-twitter" class="social-icons"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-facebook" class="social-icons"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"class="social-icons"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-google"class="social-icons"></ion-icon></a></li>
            

    </div>
    <nav>
        <ul class="footer-nav">
            <li><a href="#">About us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
    <p >© Copyright 2021 by TravelGo.All rights reserved </p>

</footer>

</body>
</html>
